body{
  font-family: Liberation Sans, Droid Sans, Helvetica, Verdana, Sans;
  font-size:1em;
  max-width:1134px;
  background-color: #e5ebee;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
	margin:0px auto;
}

#topNav{
  background-color: #9bbbca;
}

#bottomNav{
  background-color: #9bbbca;
}

nav {
  display: table;
  width: 100%;
  padding-top:1%;
  padding-bottom:1%;
  margin-top:1%;
  text-align:center;
  border-style: solid;
  border-width: 1px;
  border-color: #c6d4de;
}

nav > a {
  display: table-cell;
  text-align: center;
  margin: 5%;
  cursor: pointer;
  width:16%;
}

span {
  display: table;
  width: 48%;
  float: left;
}

#seperator{
  width:4%;
}

span > a {
  display: table-cell;
  text-align: center;
  cursor: pointer;
}

a:visited {
  color:#000;
}

a:hover {
  color:#fff;
}

.mealFrame{
  color: #000;
  padding: 2%;
  background-color: #fff;
  margin-top: 1%;
  width:96%;
  border-style: solid;
  border-width: 1px;
  border-color: #c6d4de;
}

a {
  color:#000;
  text-decoration:none;
}

.category{
  font-weight:bold;
}

.meal{

}

#bottom{
  color: #000;
  padding:1%;
  background-color: #9bbbca;
  margin-top: 1%;
  padding: 2%;
  width:96%;
  text-align:right;
  border-style: solid;
  border-width: 1px;
  border-color: #c6d4de;
}

#selector{
  width:96%;
  font-size:1em;
  background-color:#fff;
  border: 1px solid #c6d4de;
}

.price{
  text-align:right;
  font-style:italic;
}

.active{
  color:#fff;
}
